{{ $aboutUs := .Site.GetPage "/aboutUs" }}
<section class="section" id="aboutUs">  
    <div class="container">
      <h1 class="title">{{ $aboutUs.Title }}</h1>
      <div class="content">
        {{ $aboutUs.Content }}
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-parent">
            {{ $prod1 := resources.Get "squares.PNG" }}
          <article
            alt="exemplo de produto"
            class="tile is-child box"
            style="height: 356px; background-image: url({{ $prod1.RelPermalink }});background-position: center; background-size: cover">
          </article>
        </div>
        <div class="tile is-parent">
            {{ $prod2 := resources.Get "structure.jpeg" }}
            {{ $prod2 := $prod2.Resize "356x r90"}}
          <article
            alt="exemplo de produto"
            class="tile is-child box"
            style="height: 356px; background-image: url({{ $prod2.RelPermalink }});background-position: center; background-size: cover">
          </article>
        </div>
      </div>
  </section>