{{ $contacts := .Site.GetPage "/contacts" }}
{{ $contactInfo := $contacts.Resources.Match "contact-*" }}
<section class="section has-background-grey-lighter" id="contacts">
    <div class="container">
        <h1 class="title">{{ $contacts.Title }}</h1>
        <div class="tile is-ancestor" style="flex-wrap: wrap;">
            {{ range $contactInfo }}
            
                <div class ="tile is-parent">
                    <div class="tile is-child box">
                        <h2 class="title is-5">
                            <i class="fas fa-user" style="margin-right: 4px;">
                            </i>
                            {{  .Title }}
                        </h2>
                        <h3 class="subtitle is-5">
                            {{ .Params.role }}
                        </h3>
                        <address>
                            <p style="margin-top:0">
                                <i class="fas fa-envelope" style="margin-right: 4px;"></i>
                                <a href="mailto:{{ .Params.email }}">
                                    {{ .Params.email }}
                                </a>
                            </p>
                            <p>
                                <i class="fas fa-phone" style="margin-right: 4px;"></i>
                                {{ $clearPhone := replace .Params.phone " " "" }}
                                <a href="tel:{{ $clearPhone }}">
                                    {{ .Params.phone }}
                                </a>
                            </p>
                        </address>
                    </div>
                </div>
            
            

            {{ end }}
        </div>
        
    </div>
</section>