{{ $location := .Site.GetPage "/location" }}
<section class="section column" id="location">
    <div class="container">
        <h1 class="title">{{ $location.Title }}</h1>
        <address class="content">
            {{ $location.Content }}
        </address>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1912.032581636078!2d-8.611836541713071!3d40.358968194842994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd23ac540329fb33%3A0x417488c5fdfad502!2s3060-197%20Cantanhede%2C%20Portugal!5e1!3m2!1sen!2spt!4v1589226081007!5m2!1sen!2spt"
            frameborder="0"
            height="450"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            width="100%"
            tabindex="0">
        </iframe>
    </div>
</section>